{% extends "base.html" %}

{% block title %}
Create units
{% endblock title %}

{% block page_title %}
Create new units
{% endblock page_title %}

{% block content %}
<div class="mb-10">
    <div id="error-message" class="mt-4 text-sm text-red-600"></div>
    <form hx-post="/units" hx-ext="submitjson" class="flex-1 lg:max-w-2xl">
        <div class="space-y-2">
    <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for=":r2l:-form-item">unit</label>
    <input class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-base shadow-sm md:text-sm" id="unit" name="unit" type="text" value="" required />
</div>
        <div class="mt-5">
            <button class=" text-xs py-3 px-6 rounded-lg bg-gray-900 text-white" type="submit">Submit</button>
        </div>

    </form>
</div>
{% endblock content %}

{% block js %}

{% endblock js %}