{% extends "base.html" %}

{% block title %}
Z&auml;lerst&auml;nde - Frohburg
{% endblock title %}

{% block page_title %}
Z&auml;lerst&auml;nde - Frohburg
{% endblock page_title %}

{% block content %}
<div class="mb-10">
  <div class="text-xl font-medium"><a href="/meter_types">Z&auml;hler Typen</a></div>
  <div class="text-xl font-medium"><a href="/units">Einheiten</a></div>
  <div class="text-xl font-medium"><a href="/meters">Z&auml;hler</a></div>
  <div class="text-xl font-medium"><a href="/meter_entries">Eintr&auml;ge</a></div>
</div>
{% endblock content %}

{% block js %}

{% endblock js %}